<IfModule mod_rewrite.c>
RewriteEngine On
FallbackResource /index.php
</IfModule>

SetEnv MY_ENV dev

#AuthType Basic
#AuthName "Brandon Wiki"
#AuthUserFile /Users/brandon/Sites/modus/public/passwd
#Require valid-user